.checkbox {
    accent-color: #00FF00;
    height: 17px;
    width: 17px;
    border-radius: 50%;
}

.strike_none {
    text-decoration: none;
}

.green {
    background-color: green !important;
}

.icon {
    font-size: 20px;
}

.icon-edit {
    color: #7D2252;
}

.icon-delete {
    color: #E41B17;
}

.the {
    width: 40%;
}

.list-task{
    max-height: 400px;
    overflow: auto;
}


